In [1]:
# -*- coding:utf-8 -*-
import pandas as pd
data = pd.read_csv("C:/Users/zzq/Desktop/DataMining/Data/pythontest3/feature_temp.csv")
#data[(data.user_id == 3404000) & (data.brand_id == 905) & (data.type == 1)].shape

In [2]:
print "数据条数",data.shape[0]
list =[]
for i in range(1,len(data.visit_datetime)):
    list.append(data.visit_datetime[i])
    #print data.visit_datetime[i]
list.sort()
print "data range:",list[0],list[len(list)-1]
print "唯一用户：",len(set(data.user_id))
print "唯一品牌：",len(set(data.brand_id))
print "唯一用户-品牌对：",len(data.drop_duplicates(["user_id","brand_id"]))

数据条数 182880
data range: 2013-04-15 2013-08-15
唯一用户： 884
唯一品牌： 9531
唯一用户-品牌对： 57655

In [3]:
import numpy as np
df = data[data.type == 1].iloc[:,[2,3]]
df = df.groupby(["visit_datetime"],as_index = False)["visit_datetime"].agg({'count_buy':np.size})
#降序排序
df = df.sort_values(by="count_buy",ascending = False) 
df.head()

    visit_datetime  count_buy
103     2013-07-27        112
87      2013-07-11        108
102     2013-07-26        106
104     2013-07-28        103
11      2013-04-26         95

In [4]:
user = data[data.type == 1].iloc[:,[0,2]]
user = user.groupby(["user_id"],as_index = False)["user_id"].agg({"count_buy":np.size})
user = user.sort_values(by="count_buy",ascending = False)
user.head()

      user_id  count_buy
370   5780000         83
217   3404000         79
642  10628500         70
440   6874250         65
732  12173500         54

In [5]:
user_b = data.iloc[:,[0,1]]
user_b = user_b.groupby(["user_id","brand_id"],as_index = False)["user_id"].agg({"count":np.size})
user_b = user_b.sort_values(by="count",ascending = False)
user_b.head()

        user_id  brand_id  count
20180   4184250       241    611
21353   4370750      1666    396
40243   8149250     11679    388
48115  10261750     14261    377
3464     711500     26722    364